<%- include('../partials/header.ejs') %>

  <section class="card" id="general">
    <h2>General Information</h2>
    <p>Welcome to our rock climbing community! Feel free to browse the available routes, share your own, and connect with fellow climbers. Don't forget to sign up and log in to unlock full features.</p>
  </section>

  <section  id="posts">
    <% if(locals.posts) {%>
      <% posts.forEach(post => {%>
        <article class="card">

          <div class="author-info-card">
            <img src="/images/download.png" alt="<%= post.username %> avatar" class="avatar">
            <div class="user-info">
              <p class="username"><%= post.username %></p>
              <time datetime="<%= post.created_at.toISOString() %>">Created at: <%= new Date(post.created_at).toLocaleDateString('de-DE') %></time>
            </div>
          </div>

      <h3><a href='/posts/<%=post.id%>'><%= post.title%></a></h3>
      <p><%= post.content%></p>
      <div class="controls">
        <div class="general-controls">
          <div class="vote-controls">
            <form action="<%= post.userVote && post.userVote.upvote ? `/vote/${post.userVote.id}` : '/vote' %>" method="POST" class="vote-form">
              <input type="hidden" name="postId" value="<%= post.id %>">
              <input type="hidden" name="userId" value="<%= locals.userId ? userId : '' %>">
              <input type="hidden" name="vote" value="upvote">
              <button type="submit" class="<%= post.userVote && post.userVote.upvote ? 'voted' : '' %>">
                <i class="fa-solid fa-arrow-up"></i>
              </button>
            </form>
              <p id="vote-count-post-<%= post.id %>"><%= post.voteCount ? post.voteCount : 0 %></p>
              <form action="<%= post.userVote && post.userVote.downvote ? `/vote/${post.userVote.id}` : '/vote' %>" method="POST" class="vote-form">
                <input type="hidden" name="postId" value="<%= post.id %>">
                <input type="hidden" name="userId" value="<%= locals.userId ? userId : '' %>">
                <input type="hidden" name="vote" value="downvote">
                <button type="submit" class="<%= post.userVote && post.userVote.downvote ? 'voted' : '' %>">
                  <i class="fa-solid fa-arrow-down"></i>
                </button>
              </form>
          </div>
          <button><a href="/posts/<%= post.id %>?reply=true"><i class="fa-regular fa-comment"></i> <%= post.comments.length %></a> </button>
          <button><i class="fa-solid fa-share"></i> Share</button>
        </div>
      </div>
    </article>
      <%})}%>
    <article class="card">
      <h3>Epic Route in Fontainebleau</h3>
      <p>Climb the epic boulders of Fontainebleau, France. With over 25,000 routes, it's a dream destination for any boulderer.</p>
      <p><strong>Author:</strong> Jane Doe</p>
    </article>

    <article class="card">
      <h3>Challenging Ascent in Yosemite</h3>
      <p>Yosemite's El Capitan presents one of the most challenging routes for climbers. Experience the thrill of climbing in one of the world's most iconic locations.</p>
      <p><strong>Author:</strong> John Smith</p>
    </article>

    <article class="card">
      <h3>Top Boulders in Bishop</h3>
      <p>If you're visiting California, be sure to check out Bishop for some of the best bouldering in the US. The Buttermilks will challenge even the most experienced climbers.</p>
      <p><strong>Author:</strong> Alex Johnson</p>
    </article>
  </section>

  <%- include('../partials/footer.ejs') %>
