<%- include('../partials/header.ejs') %>

<div id="completePostCard">

  <div class="author-info-card">
    <img src="/images/download.png" alt="<%= post.username %> avatar" class="avatar">
    <div class="user-info">
      <p class="username"><%= post.username %></p>
      <time datetime="<%= post.created_at.toISOString() %>">Created at: <%= new Date(post.created_at).toLocaleDateString('de-DE') %></time>
    </div>
  </div>

  <h3><%= post.title %></h3>
  <p><%= post.content %></p>

  <div class="controls">
  <div class="general-controls">
    <div class="vote-controls">
      <form action="<%= locals.userVote && userVote.upvote ? `/vote/${userVote.id}` : '/vote' %>" method="POST" class="vote-form">
        <input type="hidden" name="postId" value="<%= post.id %>">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="vote" value="upvote">
        <button type="submit" class="<%= locals.userVote && userVote.upvote ? 'voted' : '' %>">
          <i class="fa-solid fa-arrow-up"></i>
        </button>
      </form>
      <p id="vote-count-post-<%= post.id %>"><%= locals.voteCount ? voteCount : 0%></p>
        <form action="<%= locals.userVote && userVote.downvote ? `/vote/${userVote.id}` : '/vote' %>" method="POST" class="vote-form">
          <input type="hidden" name="postId" value="<%= post.id %>">
          <input type="hidden" name="userId" value="<%= userId %>">
          <input type="hidden" name="vote" value="downvote">
          <button type="submit" class="<%= locals.userVote && userVote.downvote ? 'voted' : '' %>">
            <i class="fa-solid fa-arrow-down"></i>
          </button>
        </form>
    </div>
    <button><i class="fa-regular fa-comment comment-btn"></i> <%= topLevelCount%> </button>
    <button><i class="fa-solid fa-share"></i> Share</button>
  </div>

  <% if (locals.userId) { %>
    <% if (post.user_id === userId) { %>
      <div class="logged-user-controls">
        <button>
          <a href="/posts/<%= post.id %>/edit">
            <i class="fas fa-edit"></i> Edit
          </a>
        </button>
        <form class="deleteForm" action="/posts/<%= post.id %>/delete" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">
            <i class="fa-solid fa-trash"></i> Delete
          </button>
        </form>
      </div>
    <% } %>
  <% } %>
    </div>

  <form action="/comments/new" method="POST" id="commentForm">
    <input type="hidden" name="postId" value="<%= post.id %>">
    <input type="hidden" name="userId" value="<%= userId %>">
      <input type="text" name="content" id="commentFormInput" placeholder="Add a comment" required>
      <button type="submit">
        <i class="fa fa-arrow-circle-right fa-lg"></i>
      </button>
  </form>

  <div class="comments">
    <%- comments %>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
