<%- include('../partials/header.ejs') %>
<div class="card">

  <h3><%=post.title%></h3>

  <p><%=post.content%></p>

  <p><strong>Author:</strong> <%=post.username%></p>
  <p><small>Created at: <%= new Date(post.created_at).toLocaleDateString('de-DE') %></small></p>
  <p><small>Updated at: <%= new Date(post.updated_at).toLocaleDateString('de-DE') %></small></p>
</div>

<% if(locals.userId) { %>
<% if(post.user_id === userId) { %>
<button><a href="/posts/<%=post.id%>/edit">Update</a></button>

<form id="deleteForm" action="/posts/<%= post.id %>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete Post</button>
</form>
<% } %>
<% } %>

<%- include('../partials/footer.ejs') %>
